body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1265px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:525px;
  height:43px;
  font-family:'RobotoSlab-Regular', 'Roboto Slab';
  font-weight:400;
  font-style:normal;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  white-space:nowrap;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:69px;
  width:328px;
  height:37px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  white-space:nowrap;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:140px;
  width:79px;
  height:24px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:140px;
  width:260px;
  height:24px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:625px;
  width:250px;
  height:57px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:140px;
  width:125px;
  height:24px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:533px;
  width:272px;
  height:24px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:140px;
  width:185px;
  height:24px;
  font-family:'RobotoSlab-Light', 'Roboto Slab Light', 'Roboto Slab';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:181px;
  width:100px;
  height:60px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16_ref {
  border-width:0px;
  position:absolute;
  left:224px;
  top:231px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:264px;
  width:100px;
  height:60px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u18_ref {
  border-width:0px;
  position:absolute;
  left:224px;
  top:314px;
  width:1px;
  height:1px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:346px;
  width:100px;
  height:60px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u20_ref {
  border-width:0px;
  position:absolute;
  left:224px;
  top:396px;
  width:1px;
  height:1px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:181px;
  width:100px;
  height:60px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u22_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:231px;
  width:1px;
  height:1px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:264px;
  width:100px;
  height:60px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:314px;
  width:1px;
  height:1px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:346px;
  width:100px;
  height:60px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u26_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:396px;
  width:1px;
  height:1px;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:429px;
  width:100px;
  height:60px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u28_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:479px;
  width:1px;
  height:1px;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:581px;
  width:100px;
  height:60px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:631px;
  width:1px;
  height:1px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:663px;
  width:100px;
  height:60px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u32_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:713px;
  width:1px;
  height:1px;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:746px;
  width:100px;
  height:60px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:96px;
  word-wrap:break-word;
}
#u34_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:796px;
  width:1px;
  height:1px;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:829px;
  width:100px;
  height:60px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u36_ref {
  border-width:0px;
  position:absolute;
  left:488px;
  top:879px;
  width:1px;
  height:1px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:181px;
  width:100px;
  height:60px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u38_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:231px;
  width:1px;
  height:1px;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:268px;
  width:100px;
  height:60px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:96px;
  word-wrap:break-word;
}
#u40_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:318px;
  width:1px;
  height:1px;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:356px;
  width:100px;
  height:60px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u42_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:406px;
  width:1px;
  height:1px;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:442px;
  width:100px;
  height:60px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:492px;
  width:1px;
  height:1px;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:529px;
  width:100px;
  height:60px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u46_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:579px;
  width:1px;
  height:1px;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:615px;
  width:100px;
  height:60px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u48_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:665px;
  width:1px;
  height:1px;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:701px;
  width:100px;
  height:60px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u50_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:751px;
  width:1px;
  height:1px;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:788px;
  width:100px;
  height:60px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u52_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:838px;
  width:1px;
  height:1px;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:874px;
  width:100px;
  height:60px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u54_ref {
  border-width:0px;
  position:absolute;
  left:902px;
  top:924px;
  width:1px;
  height:1px;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:181px;
  width:100px;
  height:60px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u56_ref {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:231px;
  width:1px;
  height:1px;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:268px;
  width:100px;
  height:60px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u58_ref {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:318px;
  width:1px;
  height:1px;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:356px;
  width:100px;
  height:60px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u60_ref {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:406px;
  width:1px;
  height:1px;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:442px;
  width:100px;
  height:60px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u62_ref {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:492px;
  width:1px;
  height:1px;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:529px;
  width:100px;
  height:60px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u64_ref {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:579px;
  width:1px;
  height:1px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:19px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:324px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u68_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u68_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:376px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-169px;
  width:8px;
  height:173px;
}
#u70_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-169px;
  width:80px;
  height:8px;
}
#u70_seg3 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:-174px;
  width:19px;
  height:18px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:19px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:324px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:406px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:19px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:459px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:40px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-4px;
  width:8px;
  height:160px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:148px;
  width:40px;
  height:8px;
}
#u78_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:143px;
  width:19px;
  height:18px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:641px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:723px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:19px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:806px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:10px;
  width:18px;
  height:19px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:859px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:254px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-652px;
  width:8px;
  height:656px;
}
#u86_seg2 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-652px;
  width:68px;
  height:8px;
}
#u86_seg3 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:-657px;
  width:19px;
  height:18px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:-239px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:328px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:416px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:502px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u94_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:589px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u96_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u96_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:675px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u98_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u98_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:761px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:848px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:904px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-697px;
  width:8px;
  height:701px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-697px;
  width:84px;
  height:8px;
}
#u104_seg3 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-702px;
  width:19px;
  height:18px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-344px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:328px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:416px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:502px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:559px;
  width:0px;
  height:0px;
  font-family:'<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">';
  font-weight:500;
  font-style:normal;
  color:#669933;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-352px;
  width:8px;
  height:356px;
}
#u114_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-352px;
  width:51px;
  height:8px;
}
#u114_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-357px;
  width:19px;
  height:18px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
